/* Login page */
#login-page {
    background-image: url('images/layout/background-login.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}
#login {
    .wrapLogin {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        padding-bottom: 30px;
        background: #ededed;
        transform: translate(-50% , -50%);
        box-shadow: 2px 2px 3px #d0d0d0;
        border-radius: 3px;
        -ms-border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        -o-border-radius:3px;
        overflow: hidden;
    }
    .headLogin {
        background: red;
        width: 100%;
        height: 50px;
        float: left;
        display: table;

        h3 {
            font-family: 'Roboto';
	        font-size: 16px;
            color: white;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
    }
    .bodyLogin {
        text-align: center;
        height: 100%;
        width: 100%;

        img {
            height: 100px;
            width: 100px;
            margin-top: 30px;
            border: 1px solid #d4d4d4;
            clear: right;
            display: inline-block;
        }
    }
}
